/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
    border-bottom-color : #c08507 !important;
    box-shadow: 0 1px 0 0 #c08507 !important;
}

button.btn-submit{
    width: 100%;
    background-color: #2E5D68;
}

ul.answer li:hover{
    background-color: #2E5D68;
    cursor: pointer;
}

ul li.selected{
    background-color: #2E5D68 !important;
    
}
html{
    background: url(./assets/img/background.jpeg);
    background-size: 100%;
    color: black;
}
::placeholder{
    color: black;
    opacity: 0.5;
}
